<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Express News</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar2') %>
    <%- include('partials/newsChannelLanding') %>
    <%- include('partials/newsabout') %>
    <%- include('partials/worldnews') %>
    <%- include('partials/defence-news') %>
    <%- include('partials/video-news') %>
    <%- include('partials/newsSection') %>
    <%- include('partials/footer') %>

   
    


    

    <script src="/js/app.js"></script>
</body>
</html>